### for Build ###
/Builds/



### for UE4 ###
/UnrealProject/.vs/
/UnrealProject/Binaries/**/*
!/UnrealProject/Binaries/Win64/
!/UnrealProject/Binaries/Win64/*Editor.target
!/UnrealProject/Binaries/Win64/UE4Editor.modules
!/UnrealProject/Binaries/Win64/UE4Editor-*.dll
!/UnrealProject/Binaries/Win64/UE4Editor-*.pdb
/UnrealProject/Binaries/Win64/UE4Editor-*-*.dll
/UnrealProject/Binaries/Win64/UE4Editor-*-*.pdb
!/UnrealProject/Binaries/Mac/
!/UnrealProject/Binaries/Mac/*Editor.target
!/UnrealProject/Binaries/Mac/UE4Editor.modules
!/UnrealProject/Binaries/Mac/UE4Editor-*.dylib
/UnrealProject/Binaries/Mac/UE4Editor-*-*.dylib
/UnrealProject/Build/**/*
!/UnrealProject/Build/Android/
!/UnrealProject/Build/Android/res/
!/UnrealProject/Build/Android/res/**/
!/UnrealProject/Build/Android/res/**/*
!/UnrealProject/Build/IOS/
!/UnrealProject/Build/IOS/Resources/
!/UnrealProject/Build/IOS/Resources/Graphics/
!/UnrealProject/Build/IOS/Resources/Graphics/*
/UnrealProject/DerivedDataCache/
/UnrealProject/Intermediate/
/UnrealProject/Saved/
/UnrealProject/**/*.xcodeproj
/UnrealProject/**/*.xcworkspace
/UnrealProject/**/*.sln
/UnrealProject/**/*.suo
/UnrealProject/**/*.opensdf
/UnrealProject/**/*.sdf
/UnrealProject/**/*.VC.db
/UnrealProject/**/*.VC.opendb
#/UnrealProject/**/*_BuiltData.uasset



### for Jenkins ###
/Jenkins/**/*
!/Jenkins/jobs/
!/Jenkins/jobs/**/
!/Jenkins/jobs/**/config.xml
!/Jenkins/userContent/
!/Jenkins/userContent/Template_Settings.*



